.header {
    width: 100%;
    background-color: #232a31;

    padding: 10px 32px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 50px;
}

.navbar-items {
    list-style: none;

    display: flex;
    align-items: center;

    gap: 16px;
}

.navbar-items li a {
    color: #eeee;

    text-transform: uppercase;
}

#login-btn {
    background-color: #2cc76a;
    color: #fff;

    border-radius: 4px;

    padding: 16px 20px;
}
.banner {
    width: 100%;
    height: 300px;
    background-image: url('../img/mainbanner.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.banner h1 {
    font-size: 30px;
    color: #fff;
    text-align: center;
    
}
.banner p {
    font-size: 18px;
    color: #8bdcaf;
    text-align: center;
    font-style: italic;
    
}
.beneficios{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 16px;
}
.beneficios ul {
    text-align: center;
   display: flex;
   flex-direction: row;
   gap: 40px;
   list-style: none; 
   
}.beneficios p {
    padding: 16px;
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.fa-shield-alt {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #2cc76a;
    
}.fa-rocket{
    display: flex;
        align-items: center;
        justify-content: center;
    font-size: 24px;
color: rgb(255, 68, 68);

}.fa-comments{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color:rgb(46, 146, 213)
}
.cards {
    display: flex;
    flex-direction: column;

    gap: 48px;
    align-items: center;
    justify-content: space-between;

    padding: 20px;
}

.cards-title-description {
    text-align: center;
}

.cards-title-description h3 {
    color: #30643d;
    font-size: 36px;
    margin-bottom: 4px;
}

.cards-title-description p {
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    
}

.cards ul {
    color: #1da33f;
    display: flex;
    align-items: center;
    justify-content: center;

    list-style: none;

    gap: 32px;
}

.card {
    height: 250px;
    width: 200px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: #eee;
}

.card header {
    padding: 8px 16px;
    background-color: #4e6356;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.price {
    width: 80px;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #1da33f;

    margin-top: -40px;

    border-radius: 50%;
}

.price strong {
    color: #ffffff;
}

.card footer {
    width: 100%;
    padding: 8px 16px;
    
    
}

.card footer button {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px 40px;

    background-color: #2cc76a;
    color: #fff;

    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;

    width: 100%;
    
    
    border-radius: 4px;
}
.card h3 {
    color: rgb(221, 192, 120);
}.dominio {
    flex-direction: column;
    background-color: #232a31;
    padding: 16px;
}
.dominio h3 {

    border: 1px solid #ff0000;
    color: #ffffff;
    width: 100%;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;
}.dominio button {
    background-color: #2cc76a;
    color: #fff;
    font-size: 18px;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}.dominio input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

